body {
  font-family: 'Open Sans', sans-serif;
  max-width: 840px;
  margin: auto;
}

@media only screen and (min-width: 800px) {
  body {
    margin-top: 2em;
  }
}

@media print{
  body {
    font-size: 8.7px;
  }
}

.mega-octicon {
  font-size: 1.8em;
}

.octicon-tools {
  font-size: 1.5em;
}

h1, h2, h3, h5, ul, li.column-cell {
  margin: 0em;
  font-weight: 200;
}	

h2, .italic {
  font-style: italic;
}

.small {
  font-variant: small-caps;
}

h1 { 	
  font-size: 4em; 	
}

h2 {
  line-height: 0.5em;
  font-size: 3em;
}

h2, body > header div.md, aside {
  color: grey;
  font-style: italic;
}

h3 {
  font-size: 3em; 
  display: inline;
  color: #7BBF6A;
}

h4 { 	
  font-size: 1.2em; 	
}

h5 {
  font-weight: 600;
}

h5, li, p {
  font-size: 1em;
}

li, p, h4, .time span, header p, li.column-cell span {
  line-height: 1.2em;
}

article > hr {
  border: 1px #7BBF6A solid;
  width: 7em;
  margin: 0em;
}

article > header hr {
  width: 6.5em;
  margin: 0em;
  margin-right: 1em;
  display: inline-block;
  border: 0.4em #7BBF6A solid;
}

section, article {
  clear: both;
}

article {
  margin: 2em 0em;
}

ul {
  list-style-type: none;
  padding-left: 0em;
}

.md {
  margin-top: 2.5em;
  
}

.md p {
	margin-left: 7.7em;
}

.md ul {
  list-style-type: disc;
  margin-left: 9em;
}

.tags {
  margin-left: 9em;
  margin-top: 1em;
}

.tags li {
  display: inline-block;
  background-color: #7BBF6A;
  color: white; 
  margin: 0.2em;
  padding: 0.3em;
}

article h4, .skills ul li {
  display: inline;
  margin-right: 0.2em;
}

article li {
  margin: 1em 0em;
}

aside, header .md {
  font-size: 1.2em;
}

aside {
  float: right;
  text-align: right;
  margin-top: 1.5em;
  color: grey;
}

aside span, ul.column span, .time, .time span {
  display: block;
}

li.column-cell {
  margin-right: 4em;
  margin-bottom: 0.5em;
  float: left;
  max-width: 280px;
}

.time {
  width: 9em;
}

.duration {
  font-weight: 600;
}

.table-cell {
  display: table-cell;
}

ul.column, ul.skills {
  margin-top: 1em;
  margin-left: 9em;
}

.skills > li {
  display: inline-block;
  margin: 0.5em 0em;
  padding-right: 1em;
  vertical-align: top;
  width: 230px;
}

.skills div {
  margin: 0.2em 0em;
}

.download-links {
  text-align: right;
}

.download-links a {
  font-size:2em;
  color:#7BBF6A;
  margin: 5px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}

.exc {
  color: black;
  font-size: 0.5em;
  display: block;
}

BBF6A;
  color: white;
  margin: 0.2em 0em;
  padding: 0.3em;
}

article h4, .skills ul li {
  display: inline;
}

article li {
  margin: 1em 0em;
}

aside, header .md {
  font-size: 1.2em;
}

aside {
  float: right;
  text-align: right;
  margin-top: 1.5em;
  color: grey;
}

aside span, ul.column span, .time, .time span {
  display: block;
}

li.column-cell {
  margin-right: 4em;
  margin-bottom: 0.5em;
  float: left;
  max-width: 280px;
}

.time {
  width: 9em;
}

.duration {
  font-weight: 600;
}

.table-cell {
  display: table-cell;
}

ul.column, ul.skills {
  margin-top: 1em;
  margin-left: 9em;
}

.skills > li {