body {
  font-family: 'Open Sans', sans-serif;
  max-width: 800px;
  margin: auto;
}

@media only screen and (min-width: 800px) {
  body {
    margin-top: 2em;
  }
}

@media print{
  body {
    font-size: 9.4px;
  }
}

.mega-octicon {
  font-size: 1.8em;
}

.octicon-tools {
  font-size: 1.5em;
}

h1, h2, h3, h5, li.column-cell {
  margin: 0em;
}	

h2, .italic {
  font-style: italic;
}

.small {
  font-variant: small-caps;
}

h1 { 	
  font-size: 4em; 	
}

h2 {
  font-size: 3em;
  font-weight: 200;
}

h3 {
  font-size: 3em; 	
  color: #7BBF6A;
}

h4 { 	
  font-size: 2em; 	
}

h5, li, p {
  font-size: 1em;
}

li, p, h4, .time span, header p, li.column-cell span {
  line-height: 1.2em;
}

hr {
  border: 1px black dashed;
  width: 95%;
}

section, article {
  clear: both;
}

ul {
  list-style-type: none;
  padding-left: 0em;
}

.md p {
  margin: 0.5em;
}

.md ul {
  margin: 0em;
  list-style-type: disc;
  padding-left: 2em;
}

article h4, .skills ul li {
  display: inline;
}

article li {
  margin: 1em 0em;
}

aside, li.column-cell span, header .md {
  font-size: 1.2em;
}

aside {
  float: right;
  text-align: right;
}

aside span, ul.column span, .time, .time span {
  display: block;
}

li.column-cell {
  margin-right: 4em;
  margin-bottom: 0.5em;
  float: left;
}

.time {
  width: 8em;
}

.duration {
  font-weight: 600;
}

.table-cell {
  display: table-cell;
}

.skills > li {
  display: inline-block;
  margin: 0.5em 0em;
  padding-right: 1em;
  vertical-align: top;
  width: 230px;
}

