 <h4>
 
{{ $a := . }}

{{ .title }}

{{if .url}}
<a class="btn btn-light btn-sm d-print-none" href="{{ .url }}">
<span class="octicon octicon-link"></span>
</a>
{{end}}

{{if .src}}
<a class="btn btn-light btn-sm d-print-none" href="{{ .src }}">
<span class="octicon octicon-code"></span>
</a>
</h4>
{{end}}

<h5>
{{range .tags}}

  {{if in $a.pins .}}
  <span class="badge badge-primary">
    {{.}}
  </span>
  {{else}}
  <span class="badge badge-light">
    {{.}}
  </span>
  {{end}}

{{end}}
</h5>

<p>{{.exc| markdownify}}</p>