 {{$r := .Site.Data.resume}}
<!doctype html>
<html lang="en"> 
<head> <!-- Required meta tags --> 
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> <!-- Bootstrap CSS --> 
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="css/main1.css">
  <title>{{$r.name}} - Resume</title> 
  <!-- find a way to put this inside the .toml -->
  <meta name="description" content="{{$r.name}} resume. Analyst / Developer. Eager to tackle a complex domain, engage with business experts and join an innovative team driven by agility and simplicity to craft some pragmatic code. Belgium, Namur">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css">
</head> 
<body>

<nav class="navbar navbar-light bg-light d-print-none">
  <div class="btn-group d-sm-none">
    {{$p := $r.personal}}
    <a class="btn btn-light" href="tel:{{$p.mobile}}">
      <span class="mega-octicon octicon-device-mobile"></span>
    </a>
    
    <a class="btn btn-light" href="mailto:{{$p.mail}}">
      <span class="mega-octicon octicon-mail"></span>
    </a>
    
    <a class="btn btn-light" href="{{$p.github_link}}">
      <span class="mega-octicon octicon-octoface"></span>
    </a>
  </div>
  
  <div class="ml-auto">
  <a class="btn btn-secondary" href="resume.toml"><span class="octicon octicon-file-code"></span>&nbsp TOML</a>
  <a class="btn btn-primary" href="resume.pdf"><span class="octicon octicon-file-pdf"></span>&nbsp PDF</a>
  </div>
</nav>

<div class="container mt-3">
  
  <article>
      {{range $r.languages}}
        <span class="badge badge-light float-right ">
         {{.short}}
        </span>
     {{end}} 
    <h1>
      {{$r.name}}
    </h1>
    
    <div class="h2">{{$r.job}}</div>
    <p class="lead">
      {{$r.exc | markdownify}}   
    </p>
    <h4 class="tags">
      {{range $r.tags}}
        <span class="badge badge-primary">
         {{.}}
        </span>
      {{end}}
    </h4>
</article>

<hr/>
  
<article class="d-none d-md-block d-print-block">
    {{$p := $r.personal}}
    <address>
      {{$p.addr1}}<br>
      {{$p.addr2}}<br>
      <span class="octicon octicon-device-mobile"></span>{{$p.mobile}}<br>
      <span class="octicon octicon-mail"></span>
      <a href="mailto:{{$p.mail}}">{{$p.mail}}
      <a><br>
      <span class="octicon   octicon-octoface"></span>
      <a href="{{$p.github_link}}">{{$p.github}}</a><br>
      <span class="octicon octicon-rocket "></span>{{$p.add1}}<br> 
    <address>
</article>

<article>
  <header>
    <h2 class="d-flex justify-content-between">
      <span>Work Experience</span>
      <button class="btn" data-parent="#experiences" data-toggle="collapse" data-target=".experience-body">
        Collapse  all
      </button>
    </h2>
  </header> 
  <!-- this block is the same 3 times -->
  <div id="experiences" class="card-group">
    {{range $r.experiences}}
      {{ partial "time-element.html" . }}
    {{end}}
  </div>
</article>

<hr/>

<article>
  <header>
    <h2>Education</h2>
  </header> 
  <div class="card-columns">
    {{range $r.educations}}
      {{ partial "time-element.html" . }}
    {{end}}
  </div>
</article>

<hr/>

<article>
  <header>
    <h2>Languages</h2>
  </header>
  <div>
    {{range $r.languages}}
      <div class="d-inline-flex justify-content-between align-items-stretch">
        <div class="h4 align-self-stretch p-2">{{.title}}</div> 
        <div class="flex-fill align-self-stretch p-2" >
         {{.level}}   
        </div>
      </div>
    {{end}}
  </div>
</article>

<hr/>

<article>
  <header>
    <h2>Skills</h2>
  </header>
  <div class="row">
    {{range $r.skills}}
    <div class="col-sm">
      <h5>{{.category}}</h5>
     
      <div class="row">
      {{ if .concept }}
        {{ partial "skill-element.html" (dict "context" .concept "octicon" "mortar-board") }}
      {{end}}
      
      {{ if .lang }}
        {{ partial "skill-element.html" (dict "context" .lang "octicon" "code") }}
      {{end}}
      
      {{ if .tech }}
        {{ partial "skill-element.html" (dict "context" .tech "octicon" "tools") }}
      {{end}}
      </div>
    </div>
    {{end}}
  </div>
</article>

<hr/>

<article>
  <header>
    <h2>Achievements</h2>
  </header>
  <div>
    {{range $r.achievements}}
    <p>
      {{ partial "achievement.html" . }}
    </p>
    {{end}}
  </div>
</article>

<hr/>

<article>
  <header>
    <h2>Interests</h2>
  </header>
  <div>
    {{range $r.interests}}
    <div>
      <h4>{{.title}}</h4>
      <p>{{.exc}}</p>
    </div>
    {{end}}
  </div>
</article>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  

</body> 
</html>