 {{$r := .Site.Data.resume}}
<!doctype html>
<html lang="en"> 
<head> <!-- Required meta tags --> 
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> <!-- Bootstrap CSS --> 
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> 
  <title>{{$r.name}} - Resume</title> 
  <!-- find a way to put this inside the .toml -->
  <meta name="description" content="{{$r.name}} resume. Analyst / Developer. Eager to tackle a complex domain, engage with business experts and join an innovative team driven by agility and simplicity to craft some pragmatic code. Belgium, Namur">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css">
</head> 
<body>
<header class="text-right">
  <a class="btn btn-secondary" href="resume.toml"><span class="octicon octicon-file-code"></span>&nbsp TOML</a>
  <a class="btn btn-primary" href="resume.pdf"><span class="octicon octicon-file-pdf"></span>&nbsp PDF</a>
</header>

  
 <article>
    <h1>{{$r.name}}</h1>
    <h2>{{$r.job}}</h2>
    <div class="md">{{$r.exc | markdownify}}   </div>
    <div class="tags">
      {{range $r.tags}}
        <span class="badge badge-primary">
         {{.}}
        </span>
      {{end}}
    </div>
</article>   
  
<article>
    {{$p := $r.personal}}
    <address>
      {{$p.addr1}}<br>
      {{$p.addr2}}<br>
      <span class="octicon octicon-device-mobile  "></span>{{$p.mobile}}<br>
      <span class="octicon octicon-mail"></span>
      <a href="mailto:{{$p.mail}}">{{$p.mail}}
      <a><br>
      <span class="octicon   octicon-octoface"></span>
      <a href="{{$p.githubLink}}">{{$p.github}}</a><br>
      <span class="octicon octicon-rocket "></span>{{$p.add1}}<br> 
    <address>
</article>

<article>
  <header>
    <h3>Work Experience</h3>
  </header> 
  <!-- this block is the same 3 times -->
  <ul>
    {{range $r.experiences}}
    <li>
      {{ partial "time-element.html" . }}
    </li>
    {{end}}
  </ul>
</article>

<article>
  <header>
    <h3>Education</h3>
  </header> 
  <ul>
    {{range $r.educations}}
    <li>
      {{ partial "time-element.html" . }}
    </li>
    {{end}}
  </ul>
</article>

<article>
  <header>
    <h3>Languages</h3>
  </header>
  <ul class="column">
    {{range $r.languages}}
    <li class="column-cell">
      <h4>{{.title}}</h4>
      <span>{{.level}}</span>
    </li>
    {{end}}
  </ul>
</article>

<article>
  <header>
    <h3>Skills</h3>
  </header>
  <ul class="skills">
    {{range $r.skills}}
    <li>
      <h5>{{.category}}</h5>
      {{ if .concept }}
      <div>
      <span class="table-cell mega-octicon octicon-mortar-board"></span>
      <ul class="table-cell">
        {{range .concept}}
      	<li>
      		{{.}},
      	</li>
      	{{end}}
      </ul>
      {{end}}
      </div>
      <div>
      <span class="table-cell mega-octicon octicon-code"></span>
      <ul class="table-cell">
        {{range .lang}}
      	<li>
      		{{.}},
      	</li>
      	{{end}}
      </ul>
      </div>
      <div>
      <span class="table-cell mega-octicon octicon-tools"></span>
      <ul class="table-cell">
        {{range .tech}}
      	<li>
      		{{.}},
      	</li>
      	{{end}}
      </ul>
      </div>
    </li>
    {{end}}
  </ul>
</article>

<article>
  <header>
    <h3>Achievements</h3>
  </header>
  <ul class="column">
    {{range $r.achievements}}
    <li class="column-cell">
      {{ partial "achievement.html" . }}
    </li>
    {{end}}
    </ul>
</article>

<article>
  <header>
    <h3>Interests</h3>
  </header>
  <ul class="column">
    {{range $r.interests}}
    <li class="column-cell">
      <h5>{{.title}}</h5>
      <span>{{.exc}}</span>
    </li>
    {{end}}
  </ul>
</article>

</body> 
</html> 