 {{$r := .Site.Data.resume}}
<!doctype html>
<html lang="en"> 
<head> <!-- Required meta tags --> 
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> <!-- Bootstrap CSS --> 
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> 
  <title>{{$r.name}} - Resume</title> 
  <!-- find a way to put this inside the .toml -->
  <meta name="description" content="{{$r.name}} resume. Analyst / Developer. Eager to tackle a complex domain, engage with business experts and join an innovative team driven by agility and simplicity to craft some pragmatic code. Belgium, Namur">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css">
</head> 
<body>

<div class="container">

<header class="text-right">
  <a class="btn btn-secondary" href="resume.toml"><span class="octicon octicon-file-code"></span>&nbsp TOML</a>
  <a class="btn btn-primary" href="resume.pdf"><span class="octicon octicon-file-pdf"></span>&nbsp PDF</a>
</header>

  
 <article>
    <h1>{{$r.name}}</h1>
    <div class="h2">{{$r.job}}</div>
    <p class="lead">
      {{$r.exc | markdownify}}   
    </p>
    <div class="tags">
      {{range $r.tags}}
        <span class="badge badge-primary">
         {{.}}
        </span>
      {{end}}
    </div>
</article>   
  
<article>
    {{$p := $r.personal}}
    <address>
      {{$p.addr1}}<br>
      {{$p.addr2}}<br>
      <span class="octicon octicon-device-mobile  "></span>{{$p.mobile}}<br>
      <span class="octicon octicon-mail"></span>
      <a href="mailto:{{$p.mail}}">{{$p.mail}}
      <a><br>
      <span class="octicon   octicon-octoface"></span>
      <a href="{{$p.githubLink}}">{{$p.github}}</a><br>
      <span class="octicon octicon-rocket "></span>{{$p.add1}}<br> 
    <address>
</article>

<article>
  <header>
    <h2>Work Experience</h2>
  </header> 
  <!-- this block is the same 3 times -->
  <div class="card-column">
    {{range $r.experiences}}
      {{ partial "time-element.html" . }}
    {{end}}
  </div>
</article>

<article>
  <header>
    <h2>Education</h2>
  </header> 
  <div class="card-column">
    {{range $r.educations}}
      {{ partial "time-element.html" . }}
    {{end}}
  </div>
</article>

<article>
  <header>
    <h2>Languages</h2>
  </header>
  <div class="card-column text-center ">
    {{range $r.languages}}
    <div class="card">
      <h4 class="card-title">{{.title}}</h4>
      <p class="card-text">{{.level}}</p >
    </div>
    {{end}}
  </div>
</article>

<article>
  <header>
    <h2>Skills</h2>
  </header>
  <div class="row">
    {{range $r.skills}}
    <div class="col-sm">
      <h5>{{.category}}</h5>
     
      <div class="row">
      {{ if .concept }}
        {{ partial "skill-element.html" (dict "context" .concept "octicon" "mortar-board") }}
      {{end}}
      
      {{ if .lang }}
        {{ partial "skill-element.html" (dict "context" .lang "octicon" "code") }}
      {{end}}
      
      {{ if .tech }}
        {{ partial "skill-element.html" (dict "context" .tech "octicon" "tools") }}
      {{end}}
      </div>
    </div>
    {{end}}
  </div>
</article>

<article>
  <header>
    <h2>Achievements</h2>
  </header>
  <div>
    {{range $r.achievements}}
    <p>
      {{ partial "achievement.html" . }}
    </p>
    {{end}}
  </div>
</article>

<article>
  <header>
    <h2>Interests</h2>
  </header>
  <div>
    {{range $r.interests}}
    <div>
      <h5>{{.title}}</h5>
      <p>{{.exc}}</p>
    </div>
    {{end}}
  </div>
</article>

</div>

</body> 
</html>  